<div class="tickets">
{{#each data}}
  <div class="ticket-teaser">
    <h3>{{title}} <small>{{status}}</small></h3>
    <h5>{{typeName}} - {{we-date date}}</h5>
    <h4>{{fullName}}</h4>

    <p>{{location}}</p>
    <p>{{id}} - {{typeIdentifier}} - {{t 'ticket.download.date.label'}} {{we-date createdAt}}</p>

    <div class="tickets-footer">
      {{#link-to 'user.ticket.findOne' ownerId id class="btn btn-default"}}
        <span class="fa fa-link" aria-hidden="true"></span> {{t 'View'}}
      {{/link-to}} {{#link-to 'user.ticket.edit' ownerId id class="btn btn-default"}}
        <span class="fa fa-pencil" aria-hidden="true"></span> {{t 'Edit'}}
      {{/link-to}} {{#link-to 'user.ticket.download' ownerId id class="btn btn-default" target="_blank"}}
        <span class="fa fa-download" aria-hidden="true"></span> {{t 'Download'}}
      {{/link-to}}
    </div>
  </div>
{{else}}
  {{t 'ticket.find.empty'}}
{{/each}}
</div>